In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.Builder().appName("Basics").getOrCreate()

In [3]:
df = spark.read.json('people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [7]:
df.columns

['age', 'name']

In [8]:
from pyspark.sql.types import StructField,StructType,StringType,IntegerType

In [9]:
data_schema = [StructField('age',IntegerType(),True),
               StructField('name',StringType(),True)]

In [10]:
final_struc = StructType(fields=data_schema)

In [11]:
df = spark.read.json('people.json',schema=final_struc)

In [12]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [13]:
df.printSchema() #We sucessfully changed the schema data types.

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [14]:
type(df['age']) # Can't be displayed since it is a column object

pyspark.sql.column.Column

In [15]:
df.select('age').show() # we can display it as it is a dataframe

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [16]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [17]:
df.head(2) # head function returns rows.

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [18]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [19]:
df.head(2)[0]

Row(age=None, name='Michael')

In [21]:
df.select(['age','name']).show() # to display multiple columns we can use list of columns.

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [24]:
df.withColumn('twice_age',df['age']*2).show() # we have to add column object.This method is not inplace

+----+-------+---------+
| age|   name|twice_age|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [25]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [26]:
df.withColumnRenamed('age','new_age').show() # column name is changed.

+-------+-------+
|new_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [27]:
#We can also apply SQL queries to the dataframe.
df.createOrReplaceTempView('people')

In [28]:
results = spark.sql("SELECT * FROM people")

In [29]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [30]:
results_2 = spark.sql("SELECT * FROM people WHERE age = 30")

In [31]:
results_2.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+